{% load static %}
{% load i18n %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'homepage' %}">
            <img src="{% static 'images/logo_peste.png' %}" alt="Logo" width="10%">
            <span>Răsfățul <span class="text-success">Pescarului</span></span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'homepage' %}">Acasă</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Magazine Online</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'harta' %}">Bălți de pescuit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tutoriale' %}">Tutoriale</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
