.btn-primary {
    background-color: #198653; /* Verde pentru buton */
    border: none;
}

.btn-outline-light {
    border-color: white;
    color: white;
}

@media (max-width: 768px) {
    .navbar {
        position: relative; /* Schimbă din fixed în relative */
    }
}

@media (max-width: 768px) {
    .navbar {
        position: static !important; /* Elimină fixed-top */
    }

    .navbar-toggler {
        margin: 0 auto; /* Centrează butonul hamburger */
    }

    .navbar-brand {
        margin: 0 auto; /* Centrează brand-ul */
        text-align: center;
        width: 100%; /* Pentru a ocupa întreg spațiul disponibil */
    }
}

.navbar {
    background-color: transparent;
    transition: background-color 0.3s ease;
    flex-direction: row;
}

.navbar.scrolled {
    background-color: rgb(255, 255, 255); /* Dark overlay on scroll */
}

.nav-item {
    white-space: nowrap;
    margin-left: 10px;
    position: relative; /* Important for dropdown positioning */
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-link {
    color: #555 !important;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-link.active {
    color: #198653 !important; /* Green color for active link */
}

.nav-link:hover {
    background-color: #198653; /* Verde în spatele textului */
    color: white !important; /* Text alb pentru contrast */
    border-radius: 5px; /* Opțional: colțuri rotunjite */
    transition: background-color 0.3s ease; /* Tranziție pentru un efect mai lin */
}


/* Dropdown menu styling */
.dropdown-menu {
    display: none; /* Hidden by default */
    position: absolute;
    top: 100%; /* Position below the parent */
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    min-width: 200px;
    padding: 10px 0;
}

.dropdown-item {
    padding: 8px 20px;
    color: #ffffff;
    text-decoration: none;
    display: block;
}

.dropdown-item:hover {
    background-color: #198653;
    color: #fdfdfd;
}

/* Show dropdown on hover */
.nav-item:hover .dropdown-menu {
    display: block;
}

/* Vertical menu on small screens */


.hero-section {
    position: relative;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text {
    z-index: 2;
    text-align: center;
    color: white;
    padding: 20px;
}

.waves-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    overflow: hidden;
    z-index: 1;
}

.waves {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 20px;
    max-height: 300px;
}

.parallax > use {
    animation: move-waves 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-waves {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/* Stil general pentru secțiune de welcome*/
.welcome-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.image-container {
    flex: 1;
    text-align: center; /* Center the image */
    margin-bottom: 20px; /* Space between image and text on mobile */
}

.image-container img {
    max-width: 100%;
    border-radius: 50% 50% 50% 50%; /* Rounded corners */
    box-shadow: 0px 10px 20px rgb(24, 133, 82);
    border: 5px solid #fdfdfd; /* Green border */
}


/* Stil pentru text sectiunea welcome*/

.text-container {
    flex: 1.5;
    padding: 20px;
}


.text-container h2 {
    font-size: 32px;
    margin-bottom: 15px;
    position: relative; /* Adaugă această proprietate pentru a permite plasarea ::after */
    display: inline-block; /* Asigură că ::after este legat de dimensiunea titlului */
}

.text-container h2::after {
    content: '';
    width: 60px;
    height: 4px;
    background-color: #188552;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.text-container p {
    font-size: 16px;
    line-height: 1.6;
    color: #188552;
}

.text-container a.btn {
    background-color: #198653;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.text-container a.btn:hover {
    background-color: #188552;
    transform: translateY(-3px); /* Mică ridicare la hover */
}

/* Ajustare pentru dispozitive mobile */
@media (max-width: 768px) {
    .fishing-explore-container {
        flex-direction: column;
        text-align: center;
    }

    .fishing-image-container img {
        clip-path: none;
        border-radius: 15px;
    }

    .welcome-section {
        flex-direction: column; /* Stack image and text vertically */
    }

    .image-container {
        order: -1; /* Move the image above the text */
        margin-bottom: 20px; /* Add space between the image and text */
    }

    .text-container {
        text-align: center; /* Center the text on mobile */
    }

    .text-container h2 {
        font-size: 28px; /* Slightly smaller font for mobile */
    }

    .text-container p {
        font-size: 14px; /* Adjust text size for mobile readability */
    }

    .wheel-container {
        display: block; /* Dezactivează flex și revine la afișarea implicită pentru dispozitive mobile */
        gap: 0; /* Poți ajusta sau elimina gap-ul pentru telefoane */
    }

    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }

    .nav-item {
        margin-left: 0;
        margin-bottom: 10px;
    }
}

/* General styling for the new Fishing Explore section */
.fishing-explore-section {
    background-color: #188552; /* Green background */
    color: white;
    position: relative;
}

.fishing-explore-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.fishing-text-content {
    flex: 1;
    max-width: 500px;
}

.fishing-section-tag {
    color: #ffffff; /* Light blue for the tag text */
    font-weight: bold;
    margin-bottom: 10px;
}

.fishing-text-content h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.fishing-section-description {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 30px;
}

.fishing-btn-primary {
    background-color: white;
    color: #0a1a3a;
    padding: 10px 25px;
    border-radius: 50px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
}

.fishing-btn-primary:hover {
    background-color: #fdfdfd;
    color: #188552;
}

.fishing-image-container {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.fishing-image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 0% 50%);
}

/* Responsive design adjustments */

.testimonial-section {
    background-color: #f9f9f9;
}

.testimonial-section h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.card {
    border: none;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.card-img-top {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 0 auto;
    padding: 10px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    color: #555;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #888;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.map-container {
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
}

.map-container img {
    width: 100%;
    height: auto;
}

/* Stil pentru secțiunea promoțională */
.promo-section {
    position: relative;
    text-align: center;
    color: #fdfdfd;
    height: 550px;
    background-image: url('../../images/img_4.png'); /* Înlocuiește cu URL-ul imaginii tale */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

/* Suprapunere gradient pentru un efect mai modern */
.promo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(24, 133, 82, 0.1), rgba(24, 133, 82, 0.9));
    z-index: 1;
}

/* Stil pentru butonul de redare (Play) cu efect */
.promo-play-button {
    position: relative;
    width: 80px;
    height: 80px;
    background-color: rgb(253, 253, 253);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    transition: transform 0.3s ease;
}

.promo-play-button:hover {
    transform: scale(1.1);
!important;
}

.promo-play-button::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 25px solid rgba(24, 133, 82, 0.7);
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

/* Stil pentru titlu și text */
.promo-title {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 20px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.promo-text {
    max-width: 700px;
    font-size: 1rem;
    margin: 25px auto;
    line-height: 1.6;
    color: #dcdcdc;
    z-index: 2;
}

/* Linie subțire sub titlu */
.promo-divider {
    width: 90px;
    height: 2px;
    background-color: rgba(24, 133, 82, 0.7);
    margin: 15px auto;
    z-index: 2;
}

/* Secțiune Deals of the Day */
.deals-section {
    text-align: center;
    padding: 40px;
    font-family: Arial, sans-serif;
}

.deals-section h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.deals-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* Stil pentru fiecare card */
.deal-card {
    width: 320px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    text-align: center;
}

.deal-card img {
    width: 100%;
    height: auto;
}

.deal-card:hover {
    transform: scale(1.1);
!important;
}

/* Stil pentru eticheta de reducere */
.deal-label {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #198653;
    color: white;
    padding: 5px 10px;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 3px;
}

/* Prețuri și descriere */
.deal-content {
    padding: 15px;
}

.deal-title {
    font-size: 1rem;
    font-weight: bold;
    margin: 10px 0;
}

.deal-price {
    font-size: 1rem;
    color: rgba(24, 133, 82, 0.7);
    font-weight: bold;
}

.deal-old-price {
    font-size: 0.9rem;
    color: #999;
    text-decoration: line-through;
    margin-left: 10px;
}

/* Stil pentru cronometru */
.countdown {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.countdown div {
    background-color: rgba(24, 133, 82, 0.7);
    color: white;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
}

.text-warning {
    --bs-text-opacity: 1;
    color: #198754 !important;
}

.footer_color {
    background-color: #212529;
}

.scroll-down-indicator {
    position: absolute;
    bottom: 20px; /* Poziționează săgeata aproape de marginea inferioară */
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px; /* Dimensiunea săgeții */
    color: #198653; /* Culoarea săgeții */
    cursor: pointer;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translate(-50%, 0); /* Săgeata rămâne în poziția de start */
    }
    40% {
        transform: translate(-50%, -10px); /* Ridică săgeata puțin */
    }
    60% {
        transform: translate(-50%, -5px); /* Micșorează ridicarea */
    }
}

.arrow {
    display: block;
    font-size: 8rem; /* Dimensiune ajustabilă */
    animation: pulse 1.5s infinite; /* Animație pentru o pulsare fină */
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

/*-Filtru harta-*/
.filter-wheel-section {
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: #f7f7f7;
}

.wheel-container {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.filter-group {
    text-align: center;
    width: 200px;
}

.filter-group label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

.wheel {
    appearance: none;
    width: 100%;
    height: 180px;
    background-color: #fff;
    border: 3px solid #198653;
    color: #188552;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; /* Firefox */
}

/* Hide default scrollbar for webkit browsers */
.wheel::-webkit-scrollbar {
    display: none;
}

.wheel option {
    padding: 10px;
    scroll-snap-align: center;
}

.video-courses-section {
    background-color: #f7f7f7;
}

.section-title {
    font-size: 2.5rem;
    font-weight: bold;
}

.section-subtitle {
    font-size: 1rem;
    color: #666;
}

.course-card {
    border: none;
    transition: transform 0.2s ease;
}

.course-card:hover {
    transform: scale(1.03);
}

.card-img-container {
    overflow: hidden;
    border-radius: 8px;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.badge {
    padding: 0.3em 0.7em;
    font-size: 0.8rem;
    color: #fff;
    border-radius: 0.25rem;
}

.badge-preorder {
    background-color: #28a745;
    top: 10px;
    left: 10px;
}

.badge-special {
    background-color: #dc3545;
    top: 10px;
    left: 10px;
}

.badge-bestseller {
    background-color: #007bff;
    top: 10px;
    left: 10px;
}

.badge-play {
    background-color: #6c757d;
    color: #fff;
    font-size: 0.8rem;
    padding: 0.3em 0.6em;
    border-radius: 1.5em;
}

.author-avatar {
    width: 30px;
    height: 30px;
}

.author-name {
    font-size: 0.9rem;
    color: #333;
    font-weight: 600;
}

.card-title {
    font-size: 1.1rem;
    font-weight: 500;
    color: #000;
    margin-top: 0.5rem;
}

/* Centrare meniul hamburger */
.navbar-toggler {
    margin: 0 auto; /* Centrare pe orizontală */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Asigurare poziționare corectă pe dispozitive mobile */
@media (max-width: 768px) {
    .navbar {
        display: flex;
        justify-content: center; /* Centrează tot conținutul din navbar */
    }

    .navbar-toggler {
        position: relative;
        margin: 0 auto;
    }
}

.categories-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
}

.category-badge {
    padding: 10px 15px;
    font-size: 1rem;
    border: 2px solid #198653;
    border-radius: 30px;
    color: #198653;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
}

.category-badge:hover {
    background-color: #198653;
    color: white;
    transform: scale(1.1);
}

.category-badge.active {
    background-color: #198653;
    color: white;
}

.card {
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    border-bottom: 1px solid #00c853;
    border-radius: 10px 10px 0 0;
}
